<!DOCTYPE html>
<html>
<head>
    <title>unbury.us</title>
    <meta name='description'
          content='unbury.us is an application that calculates payment plans based off of loan information to become debt free.'/>
    <meta name='keywords'
          content='loan, loan calculator, debt free, web application, personal finance, sean freiburg, jquery'/>

    <link rel="icon" href="../../public/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/stylesheets/style.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <p class="center">To view your loans later, simply copy the link in the
                        address bar. You can paste it in to your address bar later to view your loans.</p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h4>Monthly Payment</h4>
                    <input class="form-control" id="monthly-payment" placeholder="0">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h4>&nbsp;</h4>
                    <button id="calculate" class="btn btn-default btn-block">Refresh Graph</button>

                </div>
            </div>
            <hr>

            <div class="row col-sm-offset-0" id="loan-inputs">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="col-sm-3">
                            <p>Loan Name</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Current Balance</p>
                        </div>
                        <div class="col-sm-3">
                            <p>Minimum Payment</p>
                        </div>
                        <div class="col-sm-2">
                            <p>Interest Rate(%)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <button class="btn btn-success btn-block" id="add-loan">+ Add Loan</button>
                </div>

            </div>
        </div>

        <div class="col-sm-6">
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link active show" id="balance-tab" data-toggle="tab" href="#balanceGraph" role="tab" aria-controls="balance" aria-selected="true">Balance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="payments-tab" data-toggle="tab" href="#paymentsGraph" role="tab" aria-controls="payments" aria-selected="false">Payments</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active in" id="balanceGraph" role="tabpanel" aria-labelledby="balance-tab">...</div>
                <div class="tab-pane fade" id="paymentsGraph" role="tabpanel" aria-labelledby="payments-tab">...</div>
            </div>
                
            <div id="total-results"></div>
        </div>
    </div>


    <br><br>
    
    <div class="row" id="loan-results"></div>

    <br><br>
</div>
      
<!-- Modal -->
<div class="modal fade" id="loan-input-modal" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Add new Loan</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="loan-name" class="col-form-label">Loan Name:</label>
                            <input type="text" class="form-control" id="loan-name">
                        </div>
                        <div class="form-group">
                            <label for="current-balance" class="col-form-label">Current Balance:</label>
                            <input type="number" class="form-control" id="current-balance">
                        </div>
                        <div class="form-group">
                            <label for="minimum-payment" class="col-form-label">Minimum Payment:</label>
                            <input type="number" class="form-control" id="minimum-payment">
                        </div>
                        <div class="form-group">
                            <label for="interest-rate" class="col-form-label">Interest Rate:</label>
                            <input type="number" step="0.01" class="form-control" id="interest-rate">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-loan">Save changes</button>
                </div>
            </div>
        </div>
    </div>

<!-- Templates -->
<script id="loan-input-template" type="text/x-handlebars-template">
    <div id="loan{{id}}" class="loan row justify-content-md-center">
        <div class="col-sm-11">
                <div class="col-sm-3">
                    <input id="loan-name-{{id}}" class="form-control input-error" name="loan-name" type="text" placeholder="loan {{id}}">
                </div>
                <div class="col-sm-3">
                    <input id="current-balance-{{id}}" class="form-control input-error" name="current-balance" placeholder="$0">
                </div>
                <div class="col-sm-3">
                    <input id="minimum-payment-{{id}}" class="form-control input-error" name="minimum-payment" placeholder="$0">
                </div>
                <div class="col-sm-2">
                    <input id="interest-rate-{{id}}" class="form-control input-error" name="interest-rate" placeholder="0%">
                </div>
        </div>
        <div class="col-sm-1">
            <a id="edit-button-{{id}}" class="edit-button">EDIT</a>
            <a id="destroy-button-{{id}}" class="destroy-button">&times;</a>
        </div>
    </div>
    <hr>
</script>

<script id="total-results-template" type="text/x-handlebars-template">
    <hr>
    <div class="row text-center">
        <div class="col-sm-4">
            <h4>Loan Total</h4>
        </div>
        <div class="col-sm-4">
            <h4>Debt Free by {{total_date}}</h4>
        </div>
        <div class="col-sm-4">
            <h4>Total Interest Paid: ${{total_interest_paid}}</h4>

        </div>
    </div>

    <hr>
</script>

<script id="loan-results-template" type="text/x-handlebars-template">
    {{#each loans}}
    <div id="loan-results-{{id}}" class="loan-results">
        <div class="row text-center" id="loan-head-{{id}}">
            <div class="col-sm-1">
                <a><span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span></a>
            </div>
            <div class="col-sm-4">
                <h4>{{loan_name}}</h4>
            </div>
            <div class="col-sm-4">
                <h4>paid off by {{total_date}}</h4>
            </div>
            <div class="col-sm-3">
                <h4>interest paid: ${{total_interest_paid}}</h4>
            </div>
        </div>
        <br>

        <div class="row" style="display: none;">

            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped text-center">
                        <tbody id="tbody-{{id}}">
                        <tr>
                            <td>Month</td>
                            <td>Payment</td>
                            <td>Principal Paid</td>
                            <td>Interest Paid</td>
                            <td>Principal Remaining</td>
                        </tr>
                        {{#each rows}}
                        {{> row }}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    </div>

    <hr>
    {{/each}}
</script>

<script id="loan-table-row-partial" type="text/x-handlebars-template">

    <tr>
        <td>{{date}}</td>
        <td>${{payment}}</td>
        <td>${{principal_paid}}</td>
        <td>${{interest_paid}}</td>
        <td>${{balance_remaining}}</td>
    </tr>
</script>


<!-- Libraries -->
<script src="../../public/javascripts/lib/jquery-2.1.1.min.js"></script>
<script src="../../public/javascripts/lib/bootstrap_3.1.1.js"></script>
<script src="../../public/javascripts/lib/handlebars.js_2.0.0-alpha.2.js"></script>
<script src="../../public/javascripts/lib/amplifyjs_1.1.0.js"></script>
<script src="../../public/javascripts/lib/Chart.js_0.2.0.js"></script>

<!-- My Javascript -->

<script src="../../public/javascripts/loan_calculator/application_controller.js"></script>

<script src="../../public/javascripts/lib/moment.js"></script>
<script src="../../public/javascripts/loan_calculator/graph_controller.js"></script>
<script src="../../public/javascripts/loan_calculator/loan.js"></script>
<script src="../../public/javascripts/loan_calculator/loan_controller.js"></script>
<script src="../../public/javascripts/loan_calculator/responsive_chart.js"></script>
<script src="../../public/javascripts/loan_calculator/results_controller.js"></script>
<script src="../../public/javascripts/loan_calculator/router.js"></script>
<script src="../../public/javascripts/loan_calculator/init.js"></script>


</body>
</html>